
{% extends "sidebar.html" %}
{% include 'bootstrap_link.html' %}
{% block title %}Home Page{% endblock %}
{% load static %}
{% load math_filters %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<!-- <p>Home Page</p>
<a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>   -->
<style>  
  /* For WebKit browsers (Chrome, Safari) */  
  .table-responsive::-webkit-scrollbar {  
      width: 12px;  
      height: 12px;  
  }  

  .table-responsive::-webkit-scrollbar-track {  
      background: #f1f1f1;  
  }  

  .table-responsive::-webkit-scrollbar-thumb {  
      background: #888;  
      border-radius: 6px;  
  }  

  .table-responsive::-webkit-scrollbar-thumb:hover {  
      background: #555;  
  }  

  /* For Firefox */  
  .table-responsive {  
      scrollbar-width: thin; /* Use 'thin' or 'auto' */  
      scrollbar-color: #888 #f1f1f1; /* thumb color and track color */  
  }  
</style>  

  <div class="container-fluid ">
    <div class="container my-1" style="display: block; background: #f6f6f6; padding: 20px 20px 20px;">
    <div class="card" >
    <div class="row h-10 p-2" >
      <div class="col-sm-4" >
          <canvas id="userChart"></canvas>
      </div>
      <div class="col-sm-4" >
          <canvas id="engChart"></canvas>
      </div>
      <div class="col-sm-4" >
          <canvas id="repChart"></canvas>
      </div>
       
      </div>
       
      </div>
    </div>
    </div>
    <div class="container my-2" id="globalengtablediv" style="display:none; background-color:#30527b; padding:80px 10px 10px;">

      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <!-- <a class="btn btn-success btn-sm float-end" href="/api/receptiongenreportexport">Export to Excel</a> -->
              <!-- <h6>All Task with status</h6> -->
              
              <!-- <a class="btn btn-success " href="/reception/reception">Add Report</a> -->
              <table id="globalsearchengineertable" class="table table-hover table-striped table-bordered " style="font-size: 90%;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">APP.DATE</th>
                    <th scope="col">APP.NO.</th>
                    <th scope="col">NAME</th>
                    <th scope="col">BANK NAME</th>
                    <th scope="col">VERTICAL</th>
                    <th scope="col">PHONE</th>
                    <th scope="col">ASSIGNED VISITOR</th>
                    <th scope="col">Status</th>
                    <th scope="col">Archived</th>
                    <th scope="col">Hold reason</th>
                    <!-- <th scope="col">View</th> -->
                    
                  </tr>
                </thead>
                <tbody>
                  {% for recrep in allreports %}
                  <tr {% if recrep.priority%}  class="table-danger" {%else%} class=""{% endif %}>
                    <td scope="row">{{forloop.counter}}</th>
                    <td >{{recrep.applicationdate|date:"d-m-Y"}}</td>
                    <td >{{recrep.applicationnumber}}</td>
                    <td >{{recrep.name}}</td>
                    <td >{{recrep.bankname}}</td>
                    <td >{{recrep.bankvertical}}</td>
                    <td >{{recrep.phonenumber}}</td>
                    <td >{{recrep.visitingpersonname}}</td>
                    <td {% if recrep.engineer != "Submitted" %} class="tablred my-2 mx-1" {% else %} class="tablgreen my-2 mx-1" {% endif %}  >
                      {% if recrep.engineer == "Submitted" %} Completed
                      {% elif recrep.engineer is none %} Pending
                      {% else %} {{recrep.engineer}}
                      {% endif %}
                      
                    </td>
                    <td >
                      {% if recrep.archieved %} True
                      {%else%}
                      False
                      {% endif %}
                    </td>
                    <td >
                      {% if recrep.engineerholdcause is none %} 
                      {%else%}
                      {{recrep.engineerholdcause}}
                      {% endif %}
                    <!-- </td>
                    <td><a href="#" id="" type="button" class="float-end" > <i class="fa-regular fa-eye float-end"></i>Engineer</a><br>
                    <a href="#" id="" type="button" class="float-end" > <i class="fa-regular fa-eye float-end"></i>Reporter</a></td> -->
                     </tr>
                  
                  {% endfor %}
                </tbody>
                <tfoot><h6 class="blink">Search Result</h6></tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid">
    <div class="container my-1" style="display: block; background: #f6f6f6; padding: 20px 20px 20px;">
  
      <div class="container my-1">
      <div class="row" style="display: flex;">
        <div class="col-md-8" id="col-md-8" >
            <div class="row my-1">
                <div class="col-md-4">
                  <div class="card p-3 mb-2 h-100" >
                      <div class="mt-2">
                          <h5 class="heading">Reception</h5>
                          <div class="mt-2">
                              <div class="progress" style="background-color: white; height: 8px;">
                                <!-- <span class="text-center" id="totrecrep">{{totrep}}</span> -->
                                <!-- <div class="progress-bar" role="progressbar" style="width: 0% ;"   aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div> -->
                              </div>
                              <div class="mt-3"> <span class="text2">{{totrep}}    Report Generated</span> </div>
                          </div>
                      </div>
                  </div>
              </div>
                  <div class="col-md-4">
                    <div class="card p-3 mb-2 h-100">
              
                        <div class="mt-2">
                          
                            <h5 class="heading">Site Engineer progress</h5>
                            <div class="mt-2">
                                <div class="progress" style="height: 8px;">
                                    <div class="progress-bar" role="progressbar" style="width: 0% ;"   aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="mt-3"> <span id="engcom" class="text1"> </span> <span class="text2">completed of {{totrep}} total</span>
                                  <span class="float-end" id="engper"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                  <div class="card p-3 mb-2 h-100">
                      
                      <div class="mt-2">
                        
                          <h5 class="heading">Reporter progress</h5>
                          <div class="mt-2">
                              <div class="progress" style="height: 8px;">
                                  <div class="progress-bara" role="progressbar" style="width: 0% ;background-color:#0d6efd;"  aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <div class="mt-3"> <span id="recom" class="text1"> </span> <span class="text2">completed of <span id="rtotreq"></span> total</span> 
                              <span class="float-end" id="repper"></span>
                              </div>
                          </div>
                      </div>
                  </div>
            </div>
              
                    
            </div>
        
            <div class="row my-2">
              <div class="col-md-4">
                  <div class="card text-center">
                      <div class="card-body">
                        <span id="comp"></span>
                        <a href="#" id="engcomp" type="button" class="float-end" data-bs-toggle="modal" data-bs-target="#myModal"> <i class="fa-regular fa-eye float-end"></i></a>
                        <br><br>Completed by Engineers
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-center">
                      <div class="card-body">
                        <span id="pend"></span>
                        <a href="#" id="engpend" type="button" class="float-end" data-bs-toggle="modal" data-bs-target="#myModal"> <i class="fa-regular fa-eye float-end"></i></a>
                        <br><br>Pending by Engineers
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="card text-center">
                      <div class="card-body">
                        <span id="inprog"></span>
                        <a href="#" id="enginprog" type="button" class="float-end" data-bs-toggle="modal" data-bs-target="#myModal"> <i class="fa-regular fa-eye float-end"></i></a>
                        <br><br>Engineers inprogress
                      </div>
                    </div>
              </div>
            </div>
        </div>
        <div class="col-md-4 table-responsive" id="col-md-4" style="height: 250px; overflow-y: auto; overflow-x: hidden;">
          <p style="color: blue; font-weight: 400;">Reporter wise status:</p>
          <table  class="table table-hover table-striped tavle-bordered" style="font-size: 90%;">
            <thead>
              <tr>
                <th scope="col"># </th>
                <!-- <th scope="col">User Id</th> -->
                <th scope="col">Reporter</th>
                <th scope="col">Progress</th>
                <!-- <th scope="col">Assigned</th> -->
                <th scope="col">Completed</th>
                
              </tr>
            </thead>
            <tbody>
              {% for repstatus in repwise %}

              <!-- {{ repstatus.userdetailsid__userdetails__profileimage }} -->
              <tr>
                <td scope="row">{{forloop.counter}}</th>
                <td style="width:200px" ><div class="widget-content p-0">
                  <div class="widget-content-wrapper d-flex">
                  <div class="widget-content-left mr-1">
                  <div class="widget-content-left">
                  <img width="40" height="40" class="rounded-circle" {% if repstatus.userdetailsid__userdetails__profileimage %} src="../media/{{repstatus.userdetailsid__userdetails__profileimage}}" {% else %} src="{% static 'img/OIP.jpg' %}" {% endif%} alt="">
                  </div>
                  </div>
                  <div class="widget-content-left flex2 d-flex " style="align-items: center;">
                  <div class="widget-heading" style="margin-left: 10px;">{{repstatus.userdetailsid__userdetails__first_name}} {{repstatus.userdetailsid__userdetails__last_name}}
                    
                  </div>
                  
                  </div>
                  
                  </div>
                  </div></td>
                <td ><div class="progress my-3" style="height: 8px;">
                  <div class="progress-barb" role="progressbar" style="width: {% calculate_percent repstatus.submitted_count repstatus.other_count %}% ;background-color:#0d6efd; "   aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div></td>
              
                <!-- <td >{{repstatus.other_count}}</td> -->
                <td > <div class="my-2"> {{repstatus.submitted_count}}/{{repstatus.other_count}}</div></td>
                
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
          <div class="row my-3">
            <div class="col-md-3">
                <div class="card text-center">
                    <div class="card-body">
                      <span id="rtot"></span>
                      <a href="#" id="reqrecrep" type="button" class="float-end" onclick="repview(this.id)" data-bs-toggle="modal" data-bs-target="#reporterModal"> <i class="fa-regular fa-eye float-end"></i></a>
                      <br><br>Request Received by Reporter
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="card-body">
                      <span id="rinprog"></span>
                      <a href="#" id="repinprog" type="button" class="float-end" onclick="repview(this.id)" data-bs-toggle="modal" data-bs-target="#reporterModal"> <i class="fa-regular fa-eye float-end"></i></a>
                      <br><br>Reporters inprogress
                    </div>
                  </div>
            </div>
            
            <div class="col-md-2">
                <div class="card text-center">
                    <div class="card-body">
                      <span id="rhold"></span>
                      <a href="#" id="rephold" type="button" class="float-end" onclick="repview(this.id)" data-bs-toggle="modal" data-bs-target="#reporterModal"> <i class="fa-regular fa-eye float-end"></i></a>
                      <br><br> Hold by Reporters
                    </div>
                  </div>
            </div>
            <div class="col-md-2">
              <div class="card text-center">
                  <div class="card-body">
                    <span id="rpend"></span>
                    <a href="#" id="reppend" type="button" class="float-end" onclick="repview(this.id)" data-bs-toggle="modal" data-bs-target="#reporterModal"> <i class="fa-regular fa-eye float-end"></i></a>
                    <br><br> Pending by Reporters
                  </div>
                </div>
          </div>
          <div class="col-md-3">
            <div class="card text-center">
                <div class="card-body">
                  <span id="rcomp"></span>
                  <a href="#" id="repcomp" type="button" class="float-end" onclick="repview(this.id)" data-bs-toggle="modal" data-bs-target="#reporterModal"> <i class="fa-regular fa-eye float-end"></i></a>
                  <br><br>Completed by Reporters
                </div>
              </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    
    <div class="container-fluid">
    <div class="container" style="display:block; background-color:#f6f6f6; padding:20px 20px 20px;">

      <div class="row">
            
        <div class="col-md-12">
          
          <div class="card">
             
            <div class="card-body">
              <a class="btn btn-success btn-sm float-end" href="/api/export">Export to CSV</a>
              
              <table id="usertable" class="table table-hover table-striped tavle-bordered" style="font-size: 90%;">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Id</th>
                    <th scope="col">User name</th>
                    <th scope="col">E mail</th>
                    <th scope="col">User Role</th>
                    <th scope="col">Date Joined</th>
                    <th scope="col">Last Login</th>
                    <th scope="col">Status</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {% for recrep in userdata %}
                  <tr>
                    <td scope="row">{{forloop.counter}}</th>
                    <td >{{recrep.user_id}}</td>
                    <td >{{recrep.first_name}} {{recrep.last_name}}</td>
                    <td >{{recrep.user.email}}</td>
                    <td >{{recrep.role}}</td>
                    <td >{{recrep.user.date_joined}}</td>
                    <td >{{recrep.user.last_login}}</td>
                    {% if recrep.user.is_active %}
                    <td ><a class="activein" data-url="{% url 'activateuser' recrep.user.id %}" href="#"> <i class="fa-solid fa-user"></i> Active</a></td>
                    {% else %}
                    <td ><a class="activein" data-url="{% url 'activateuser' recrep.user.id %}" href="/activateuser/{{recrep.user.id}}"> <i class="fa-solid fa-user-slash"></i> InActive</a></td>
                    {% endif %}
                    <td><a class="delet" data-url="{% url 'deluser' recrep.user.id recrep.id %}" href="#" class="btn btn-danger btn-sm" >
                      <i class="fa fa-trash" aria-hidden="true"></i></a>&nbsp;&nbsp;&nbsp;
                      <a href="{% url 'profile'  recrep.id %}" class=""><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    </td> 
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id="modhead" class="modal-title">Completed by Engineers</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  
        <!-- Modal body for engineer -->
        <div class="modal-body">
          <div class="container my-2" style="display:block; background-color:#f6f6f6; padding:10px 10px 10px;">
  
            <div class="row">
              <div class="col-md-12">
                <div class="card">
                  <div class="card-body">
                    <!-- <a class="btn btn-success float-end" href="/api/export">Export to CSV</a> -->
                    <!-- <a class="btn btn-success " href="/reception/reception">Add Report</a> -->
                    <!-- <hr> -->
                    <table  class="table table-hover table-striped tavle-bordered" style="font-size: 90%;">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <!-- <th scope="col">APP.DATE</th> -->
                          <th scope="col">APP.NO.</th>
                          <th scope="col">NAME</th>
                          <th scope="col">Visit in presence</th>
                          <th scope="col">BANK NAME</th>
                          <th scope="col">Case type</th>
                          <th  scope="col">Engineer</th>
                          <th scope="col">View</th>
                        </tr>
                      </thead>
                      <tbody id="engcomptable">
                        <div class="text-center">
                          <div id="engspinner" class="spinner-border text-primary" role="status"></div>
                        </div>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
        </div>
  
      </div>
    </div>
  </div>
  
  <div class="modal" id="reporterModal">
    <div class="modal-dialog modal-dialog-scrollable modal-xl modal-dialog-centered">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 id="repmodhead" class="modal-title">Completed by Reporter</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>
  <!-- Modal body for reporter-->
  <div class="modal-body">
    <div class="container my-2" style="display:block; background-color:#f6f6f6; padding:10px 10px 10px;">
  
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <!-- <a class="btn btn-success float-end" href="/api/export">Export to CSV</a> -->
              <!-- <a class="btn btn-success " href="/reception/reception">Add Report</a> -->
              <!-- <hr> -->
              <table  class="table table-hover table-striped tavle-bordered" style="font-size: 90%;">
                <thead id="reptableheader">
                  <!-- <tr>
                    
                  </tr> -->
                </thead>
                <tbody id="reptable">
                  <div class="text-center">
                  <div id="reportspinner" class="spinner-border text-primary" role="status"></div>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Modal footer -->
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
  </div>
  
  </div>
  </div>
  </div>
  
  {% endblock content %}
  
  
{% block scripts%}
<script type="text/javascript">
  var apiBaseUrl = "{{ context.api_base_url }}";
  console.log(apiBaseUrl);
</script>

<Script type="text/javascript" src="{% static 'js/reception.js' %}" > </Script>
<Script type="text/javascript" src="{% static 'js/datatables.js' %}" > </Script>
<Script type="text/javascript" src="{% static 'js/sidebartoggle.js' %}"> </Script>
{% endblock scripts%}
