<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    {% include 'bootstrap_link.html' %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <title>Property Valuation</title>
</head>
<body>
    <div class="bg">
        <div class="login-container">
            <div class="logo"><img src="{% static 'img/logo.png' %}" alt="logo" height="120" width="180"></div>
            <form action="" method="post" class="mx-1 mx-md-4">{% csrf_token %} 
                <!-- {{ form.as_p}} -->
                <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
		
                <i class="fa fa-user"></i><input type="email" id="id_email" name="email" class="login-text" autocomplete="email" placeholder="Enter e-mail" required><br>
                <!-- <button type="submit" id="submit" >Reset my password</button>         -->
                <div class="submit-row">
                    <input type="submit" class="btn btn-primary" value="Reset my password">
                  </div>
        </div>
                
		
            </form>
        </div>
    

</body>
</html>

<!-- 

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="HF4P5ku82QnM3taopyRrLG79EkUYdiwmcsBxokdHT4VFGkGyJxzMo8w9QVFS2fKt">
    <fieldset class="module aligned">
      <div class="form-row field-email">
        
        <div class="flex-container">
          <label for="id_email">Email address:</label>
          <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
        </div>
      </div>
    </fieldset>
    <div class="submit-row">
      <input type="submit" value="Reset my password">
    </div>
  </form> -->