
{% extends "sidebar.html" %}
{% block title %}User log{% endblock %}
{% load static %}

{% block content %}
    
  
  <div class="container my-2" style="display:block; background-color:#f6f6f6; padding:20px 20px 20px;">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <a class="btn btn-success btn-sm float-end" href="/api/engcompletedreportexport">Export to Excel</a><br>
              <hr>
            
            <table id="userlogtable" class="table table-hover table-striped table-bordered" style="font-size: 90%;">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <!-- <th scope="col">APP.DATE</th> -->
                  <th scope="col">User Name</th>
                  <th scope="col">User Id</th>
                  <th scope="col">Email</th>
                  <th scope="col">Action Type</th>
                  <th scope="col">IP Address</th>
                  <th scope="col">Date & Time</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for useractiviti in useractivities %}
                <tr {% if recrep.receptionid.priority%}  class="table-danger" {%else%} class=""{% endif %}>
                  <td scope="row">{{forloop.counter}}</td>
                  {% if useractiviti.userdetails.first_name %}
                  <td >{{useractiviti.userdetails.first_name}} {{useractiviti.userdetails.last_name}}</td>
                  {%else%}
                  <td style="color: red; font-weight: 600;" >Suspicious user</td>
                  {% endif %}
                  {% if useractiviti.user.username %}
                  <td >{{useractiviti.user.username}}</td>
                  {% else %}
                  <td >{{useractiviti.username}}</td>
                  {% endif %}
                  {% if useractiviti.user.email %}
                  <td >{{useractiviti.user.email}}</td>
                  {% else%}
                  <td >{{useractiviti.useremail}}</td>
                  {% endif %}
                  <td >{{useractiviti.action_type}}</td>
                  <td >{{useractiviti.ip_address}}</td>
                  <!-- <td >{{recrep.add1}}</td>
                  <td >{{useractiviti.city}}</td> -->
                  <td >{{useractiviti.timestamp}}</td>
                  <!-- <td >{{recrep.reportperson}}</td> -->
                  <!-- <td><a href="/reception/deletereceptionreport/{{recrep.id}}" class="btn btn-danger btn-sm">Delete</a></td>  -->
                  <!-- <td><a href="/reception/updatereceptionreport/{{recrep.id}}" class="btn btn-warning btn-sm">Upload</a></td>   -->
                    
                </tr>
                
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
   
  
  


 

{% endblock %}
